/* Fonts */

@font-face {
    font-family: 'ZenMaruGothic';
    src: url('~@/assets/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZenMaruGothicBold';
    src: url('~@/assets/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satisfy';
    src: url('~@/assets/fonts/Satisfy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('~@/assets/fonts/NotoSansJP-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJPSemiBold';
    src: url('~@/assets/fonts/NotoSansJP-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJPBold';
    src: url('~@/assets/fonts/NotoSansJP-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
